
h1 Nerds and Proud
p {{tagline}}
 
//ul 
//  li(ng-repeat="nerd in nerds") 
//    a(href="#" editable-text="nerd.name" onaftersave="update($data)") {{ nerd.name || 'empty' }}


.row
  .col-md-12    
    a.btn.btn-default(ui-sref="nerds.add" href="#") add

.row
  .col-md-3

    .list-group
        a.list-group-item(ng-repeat="nerd in nerds"
          ui-sref="nerds.view({id: nerd._id})"
          ) {{ nerd.name }}

  .col-md-9
    div(ui-view="detail")

