br
.container
  .row
      
      .col-md-4
        .panel.panel-default    
          .panel-heading.clearfix
            .panel-title Nerds
              | 
              .btn-group.pull-right
                a.btn.btn-default.btn-sm(ui-sref="nerds.add" href="#")
                  span.glyphicon.glyphicon-plus(aria-hidden='true') 

          ul.list-group.left.left2
              a.list-group-item(ng-repeat="nerd in nerds"
                ui-sref="nerds.view({id: nerd._id})"
                ui-sref-active="active"
                ) {{ nerd.name }}



      .col-md-8
        div(ui-view="detail")

