br
.container
  .row
      
      .col-md-4
        .panel.panel-default    
          .panel-heading.clearfix
            .panel-title Nerds
              | 
              .btn-group.pull-right
                a.btn.btn-default.btn-sm(ui-sref="nerds.add" href="#")
                  span.glyphicon.glyphicon-plus(aria-hidden='true') 
              
                a.btn.btn-default.btn-sm
                  span.glyphicon.glyphicon-search(aria-hidden='true')

          .panel-body search form 
          
          ul.list-group.left.left2
              a.list-group-item(ng-repeat="nerd in nerds"
                ui-sref="nerds.view({id: nerd._id})"
                ) {{ nerd.name }}



      .col-md-8
        div(ui-view="detail")

