.panel.panel-default

  .panel-heading.clearfix
    h4.panel-title.pull-left {{nerd.name}}
    .btn-group.pull-right
      
      a.btn.btn-danger(href="#" ng-click="delete($index)") delete
      button.btn.btn-primary save

  .panel-body
    ul.nav.nav-pills(role='tablist')

      li.active(role='presentation')
        a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Home
      |     
      li(role='presentation')
        a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Profile
      |     
      li(role='presentation')
        a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Messages
      |     
      li(role='presentation')
        a(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') Settings


    .tab-content
      #home.tab-pane.active(role='tabpanel').left3.left
        div
          h3 Properties
          .row
            .col-md-3
              p.pull-right Name: 
            .col-md-9
              a(href="#" editable-text="nerd.name" onaftersave="update($index, 'name', $data)") {{ nerd.name || 'empty' }}

          .row
            .col-md-3
              p.pull-right Age: 
            .col-md-9
              a(href="#" editable-text="nerd.age" onaftersave="update($index, 'age', $data)") {{ nerd.age || 'empty' }}

          .row
            .col-md-3
              p.pull-right Status:

            .col-md-9
              a(href="#" editable-select="nerd.status" onaftersave="update($index, 'status', $data)" e-ng-options="s.value as s.text for s in statuses") {{ showStatus() }}




      #profile.tab-pane(role='tabpanel') 2
      #messages.tab-pane(role='tabpanel') 3     
      #settings.tab-pane(role='tabpanel') 4

  .panel-footer
    small Hello

script.
  $('.nav-tabs a').click(function (e) {
    //e.preventDefault()
    $(this).tab('show');
    return false;
  })